.slider{
    position: relative;
    width: 100%;
    height: 800px;
    margin: 0 auto;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    text-align: center;
    overflow: hidden;
    z-index: 0;
}
.slider_image{
    position: absolute;
    width: 100%;
    height: 800px;
    transition: all 0.4s;
}
.slider_image img{
    width: 100%;
    object-fit: cover
}
.slider_image_prev{
    transform: translateX(-100%)
}
.slider_image_next{
    transform: translateX(100%)
}
.about_wrapper{
    background-color: black;
    border-radius: 70px;
    height: 500px;
    width: 500px;
    position: absolute;
    top: 140px;
    left: 60px;
}
.welcome_company{
    color: rgb(250, 124, 7);
    text-align: center;
    margin-top: 50px;
    font-size: 36px;
}
.about_wrapper h4{
    color: #fff;
    margin-top: 30px;
    margin-left: 29px;
    margin-bottom: 10px;
    font-size: 24px;
}
.about_wrapper ul{
    color: #fff;
    width: 400px;
    margin: 0 auto;
    font-weight: 600;
   
}
.services{
    list-style-image: url(../img/check_mark.png);
}
.list_company{
    column-count:2;
    list-style-image: url(../img/check_mark_company.png);
}
.about_wrapper h3{
    color: #fff;
    text-align: center;
    margin-top: 30px;
    font-style: oblique;
    text-transform: uppercase;
}