.header {
    background-color: rgb(0, 0, 0);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 95px;
}
.nav_items {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.nav_items a{
    text-decoration: none;
    color: #797878;
    padding: 15px;
}
.nav_items a:not(:last-child) {
    margin-right: 25px;
}
.nav_items a:hover{
    color: #fff;
    border-bottom: 2px solid #fff;
}
.nav_items a.active{
    color: rgb(250, 124, 7);
    border-bottom: 2px solid rgb(250, 124, 7);
}

.active_user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 65px;
    font-size: 12px;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 50px;
    margin-left:40px;
    margin-right: 20px;
}
.active_user img{
    width: 34px;
    height: 34px;
    border-radius: 50%;
}
.panel_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logout_btn{
    border-radius: 50%;
    border: 2px solid #fff;
    width: 62px;
    height: 62px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    cursor: pointer;
    outline: none;
    font-weight: bold;
}
.logout_btn:hover{
    color: black;
    background-color: #fff;
}